name: ideaprojects

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: journal_db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -S localhost -U sa -P \"$SA_PASSWORD\" -Q \"SELECT 1\"" ]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./backend
    container_name: journal-backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SA_PASSWORD=${SA_PASSWORD}     # backend uses this to create DB if missing
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    container_name: journal-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mssql-data:
