spring:
  datasource:
    url: jdbc:mysql://localhost:3306/journal?useSSL=false&allowPublicKeyRetrieval=true
    username: journal
    password: journalpw
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.format_sql: true
  flyway:
    enabled: true
server:
  port: 8080

jwt:
  secret: supersecretdevsupersecretdevsupersecret
  expiration: 3600000